* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cantarell", sans-serif;
}

body {
  background-color: #ffffff;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#navbar {
  width: 100vw;
  background-color: black;
  overflow: hidden;
  padding: 20px 40px;
  border-bottom: 1px solid #3f3f3f;
}

#logo {
  height: 20px;
  background-color: black;
}

#container {
  /*
  background-image: linear-gradient(
    to bottom,
    #1c242f 0%,
    #3f4f5f 49%,
    #afafaf 51%,
    #afafaf 100%
  );
  */
  background-image: radial-gradient(
      circle at 50% 1000%,
      transparent 0%,
      transparent 93.8%,
      #3f4f5f 94%,
      #1c242f 100%
    ),
    radial-gradient(
      circle at 10%,
      #deaa87 0%,
      #d38d5f 70%,
      #784421 71%,
      #917c6f 100%
    );
  width: 100vw;
  height: 50vh;
  position: relative;
  overflow: hidden;
  display: flex;
}

#cohete,
#astronauta img {
  object-fit: contain;
}

#cohete {
  height: 25vh;
  background-color: transparent;
  position: absolute;
  bottom: 20vh;
  left: 52vw;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  will-change: transform;
  filter: grayscale(0.6) brightness(1.5);
}

#astronauta {
  width: 450px;
  height: 300px;
  position: absolute;
  bottom: 0vh;
  left: 20vw;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  will-change: transform;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#astronauta img {
  display: block;
  width: 190px;
  height: auto;
  background-color: transparent;
}

#display {
  position: absolute;
  color: yellow;
}

#message {
  background-color: #e0e0e0;
  width: 240px;
  height: 150px;
  position: relative;
  bottom: 0px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.4em;
  line-height: 60px;
  color: #6f6f6f;
}

#message:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #e0e0e0;
  position: absolute;
  top: 65px;
  left: 230px;
  transform: rotate(45deg);
  z-index: -1;
}
