* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cantarell", sans-serif;
}

body {
  background-color: #2f2f2f;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#container {
  background-image: linear-gradient(
    to bottom,
    #1c242f 0%,
    #2c343f 49%,
    #afafaf 51%,
    #afafaf 100%
  );
  width: 100vw;
  height: 70vh;
  position: relative;
  overflow: hidden;
  display: flex;
}

#cohete,
#astronauta img {
  object-fit: contain;
}

#cohete {
  width: 15vh;
  background-color: transparent;
  position: absolute;
  bottom: 28vh;
  left: 52vw;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  will-change: transform;
  filter: grayscale(0.6) brightness(1.5);
}

#astronauta {
  width: 550px;
  height: 300px;
  position: absolute;
  bottom: 5vh;
  left: 15vw;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  will-change: transform;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#astronauta img {
  display: block;
  width: 200px;
  height: auto;
  background-color: transparent;
}

#display {
  position: absolute;
  color: yellow;
}

#message {
  background-color: #e0e0e0;
  width: 300px;
  height: 200px;
  position: relative;
  bottom: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3em;
  line-height: 60px;
  color: #6f6f6f;
}

#message:after {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #e0e0e0;
  position: absolute;
  top: 85px;
  left: 285px;
  transform: rotate(45deg);
  z-index: -1;
}
